.wrapper {
    width: 100%;
    height: 110px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top left, #570A57, #2E0249);
    color: papayawhip;
}

nav.navigation {
    height: 100%;
    width: 1182px;
    margin-left: auto;
    margin-right: auto;
}

ul.navList {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.navItem {
    list-style: none;
    display: flex;
    align-items: center;

    & > a {
        display: flex;
        align-items: center;
    }
}

.icon {
    padding-top: 4px;
    margin-right: 6px;
    color: #00093c;
}

span.city {
    border-bottom: 2px solid black;
}

.signIcon {
    margin-right: 0;
    margin-left: 10px;
}

a.tel {
    padding-top: 2px;
    border-bottom: 2px solid transparent;

    &:hover {
        border-bottom: 2px solid black;
    }
}
